<!-- 
    同一个组件只能使用组件里的data，可通过传参赋值进行接收
-->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="../js/vue-rooter.js"></script>
</head>
<style>
    #totalFrame {
        position: absolute;
        background-color: white;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: 1px solid green
    }

    .titleWrap {
        width: 100%;
        height: 10%;
        border: 1px solid rgb(63, 46, 158);
        text-align: center;
        padding:5px
    }

    .searchWrap {
        width: 100%;
        height: 7%;
        border: 1px solid rgb(46, 161, 51);
        padding-top: 20px
    }

    .tableWrap {
        width: 100%;
        height: 78%;
        border: 1px solid red;
        text-align: center;
        box-sizing: border-box;
        padding: 10px;
    }
</style>

<body>
    <div id="vm">
        <div id="totalFrame">
            <div class="titleWrap" style="border: 1px solid rgb(47, 230, 138);overflow:auto" >
                <h1>制丝过程自检记录(储梗，蒸梗)</h1>
                <button  @click="getTestData">测试数据</button>
            </div>

            <div class="searchWrap">
                <table style="width:100%;">
                    <tr>
                        <th>日期：</th>
                        <th></th>
                        <th>班组：</th>
                        <th></th>
                        <th>操作工：</th>
                        <th></th>
                    </tr>

                </table>
            </div>
            <div class="tableWrap">
                <div style="border:1px solid blue;height: 100%;width: 100%;padding: 5px">
                    <table style="width: 100%;height: auto;" border="1" cellspacing="0">
                        <tr>
                            <td>牌号</td>
                            <td>批号</td>
                            <td v-for="item in inTableData" v-bind:colspan="item.frequency">{{item.label}}</td>
                        </tr>
                        <!-- <tr>
                            <td></td>
                            <td></td>
                            <td v-for="(item,index) in inTableData">{{index}}</td>
                        </tr> -->
                        <tr>
                            <td></td>
                            <td></td>
                            <td v-for="(item,index) in testCols" >{{item}}</td>  
                        </tr>
                        <tr>
                            <td v-bind:rowspan="rowCount+1">生产准备及设备状态确认{{rowCount}}</td>
                            <td >批次号</td>
                            <!-- <td v-bind:rowspan="rowCount">批次号01</td> -->
                            <td v-bind:colspan="projectCols">项目</td>
                            <td v-bind:colspan="confirmCols">确认</td>
                        </tr>
                        <tr  v-for="(item ,index) in beforeTableData">
                             <!-- <td v-bind:rowspan="rowCount" v-if="index==0">批次号01</td> -->
                            <td  v-bind:rowspan="4" v-if="index==0||index%4==0">{{item.lot}}</td>
                            <td  v-bind:colspan="projectCols">{{item.label}}</td>
                            <td  v-bind:colspan="confirmCols" >
                                <table style="width:100%;height:100%" cellspacing="1" cellpadding="1" border-collapse: collapse >
                                    <tr>
                                        <td v-for="ite in beforeTableData[index].children">{{ite.label}}</td>
                                        
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <!-- <tr v-for="(item ,index) in beforeTableData">
                            <td v-bind:rowspan="rowCount" v-if="index==0">批次号02</td>
                            <td v-bind:colspan="projectCols">{{item.label}}</td>
                            <td v-bind:colspan="confirmCols" >
                                <table style="width:100%;height:100%" cellspacing="1" cellpadding="1" border-collapse: collapse >
                                    <tr>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                    </tr>
                                </table>
                            </td>
                        </tr> -->
                        <tr v-for="(item,index) in afterTableData ">
                            <td  v-bind:rowspan="afterRow" v-if="index==0">生产结束收尾确认</td>
                            <td  v-bind:rowspan="2" v-if="index==0||index%2==0">{{item.letCode}}</td>
                            <td v-bind:colspan="projectCols">{{item.label}}</td>
                            <td v-bind:colspan="confirmCols">
                                <table style="width:100%;height:100%" cellspacing="1" cellpadding="1" border-collapse: collapse >
                                    <tr>
                                        <td v-for="ite in afterTableData[index].children">{{ite.label}}</td>
                                        
                                    </tr>
                                </table>


                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    //开启路由对象
    new Vue({
        el: '#vm',
        data: {
            // tableHeadData: [1, 2, 3, 4, 5, 6, 7],
            // tableBeforeData: ['A', 'B', 'C', 'D', 'E'],
            // tableAfterData: ['a', 'b', 'c', 'd', 'e'],
            testMainData:[1,2,3],
            inTableData1:[],
            inTableData: [
                {
                    "id": 1111,
                    "label": "水洗梗HT工作压力 ",
                    "frequency": 4,
                    "children":[
                        {
                            "id":11111,
                            "label":"2磅"
                        },
                        {
                            "id":11112,
                            "label":"3磅"
                        },
                        {
                            "id":11113,
                            "label":"4磅"
                        },
                        {
                            "id":11114,
                            "label":"5磅"
                        }
                    ]
                },
                {
                    "id": 1112,
                    "label": "水洗梗水温℃ ",
                    "frequency": 4,
                    "children":[
                        {
                            "id":11111,
                            "label":"2度"
                        },
                        {
                            "id":11112,
                            "label":"3度"
                        },
                        {
                            "id":11113,
                            "label":"4度"
                        },
                        {
                            "id":11114,
                            "label":"5度"
                        }
                    ]
                },
                {
                    "id": 1113,
                    "label": "水洗梗网带电机频率 ",
                    "frequency": 4,
                    "children":[
                        {
                            "id":11111,
                            "label":"2hz"
                        },
                        {
                            "id":11112,
                            "label":"2HZ"
                        },
                        {
                            "id":11113,
                            "label":"4HZ"
                        },
                        {
                            "id":11114,
                            "label":"5HZ"
                        }
                    ]
                },
                {
                    "id": 1114,
                    "label": "物料流量Kg/h ",
                    "frequency": 4,
                    "children":[
                        {
                            "id":11111,
                            "label":"2磅"
                        },
                        {
                            "id":11112,
                            "label":"3磅"
                        },
                        {
                            "id":11113,
                            "label":"4磅"
                        },
                        {
                            "id":11114,
                            "label":"5磅"
                        }
                    ]
                },
                {
                    "id": 1211,
                    "label": "物料累计量",
                    "frequency": 4,
                    "children":[
                        {
                            "id":11111,
                            "label":"2磅"
                        },
                        {
                            "id":11112,
                            "label":"3磅"
                        },
                        {
                            "id":11113,
                            "label":"4磅"
                        },
                        {
                            "id":11114,
                            "label":"5磅"
                        }
                    ]
                },
                {
                    "id": 1212,
                    "label": "进柜号 ",
                    "frequency": 4,
                    "children":[
                        {
                            "id":11111,
                            "label":"2磅"
                        },
                        {
                            "id":11112,
                            "label":"3磅"
                        },
                        {
                            "id":11113,
                            "label":"4磅"
                        },
                        {
                            "id":11114,
                            "label":"5磅"
                        }
                    ]
                },
                {
                    "id": 1221,
                    "label": "进柜结束时间 ",
                    "frequency": 4,
                    "children":[
                        {
                            "id":11111,
                            "label":"2磅"
                        },
                        {
                            "id":11112,
                            "label":"3磅"
                        },
                        {
                            "id":11113,
                            "label":"4磅"
                        },
                        {
                            "id":11114,
                            "label":"5磅"
                        }
                    ]
                }
            ],



            beforeTableData: [
                {
                    "id": 21,
                    "lot":"CQ01",
                    "label": "一级储梗柜标识确认 ",
                    "frequency": 4,
                    "children":[
                        {
                            "id":11111,
                            "label":"一次确认"
                        },
                        {
                            "id":11112,
                            "label":"二次确认"
                        },
                        {
                            "id":11113,
                            "label":"三次确认"
                        },
                       
                    ]
                },
                {
                    "id": 22,
                    "lot":"CQ01",
                    "label": "主蒸气阀、水阀、压缩气阀门开启状态确认 ",
                    "frequency": 2,
                    "children":[
                        {
                            "id":11111,
                            "label":"开关确认1"
                        },
                        {
                            "id":11112,
                            "label":"开关确认2"
                        },
                        {
                            "id":11113,
                            "label":"开关确认3"
                        },
                        {
                            "id":11114,
                            "label":"开关确认4"
                        }
                    ]
                },
                {
                    "id": 23,
                     "lot":"CQ01",
                    "label": "沿途清洁确认 ",
                    "frequency": 3,
                     "children":[
                        {
                            "id":11111,
                            "label":"清洁1"
                        },
                        {
                            "id":11112,
                            "label":"清洁2"
                        },
                        {
                            "id":11113,
                            "label":"清洁3"
                        },
                        {
                            "id":11114,
                            "label":"清洁4"
                        }

                    ]
                },
                {
                    "id": 24,
                     "lot":"CQ01",
                    "label": "电子秤空运行时、皮重确认（动态去皮）/h ",
                    "frequency": 4,
                    "children":[
                        {
                            "id":11111,
                            "label":"皮重1"
                        },
                        {
                            "id":11112,
                            "label":"皮重2"
                        },
                        {
                            "id":11113,
                            "label":"皮重3"
                        },
                       
                    ]
                },
                {
                    "id": 21,
                     "lot":"CQ02",
                    "label": "一级储梗柜标识确认 ",
                    "frequency": 4
                },
                {
                    "id": 22,
                     "lot":"CQ02",
                    "label": "主蒸气阀、水阀、压缩气阀门开启状态确认 ",
                    "frequency": 2
                },
                {
                    "id": 23,
                     "lot":"CQ02",
                    "label": "沿途清洁确认 ",
                    "frequency": 3
                },
                {
                    "id": 24,
                     "lot":"CQ02",
                    "label": "电子秤空运行时、皮重确认（动态去皮）/h ",
                    "frequency": 4
                }
               
            ],
            afterTableData: [
                {
                    "id": 31,
                    "letCode":"CQ01",
                    "label": "沿途清扫确认 ",
                    "frequency": 4,
                    "children":[
                        {
                            "id":11111,
                            "label":"皮重1"
                        },
                        {
                            "id":11112,
                            "label":"皮重2"
                        },
                        {
                            "id":11113,
                            "label":"皮重3"
                        },
                       
                    ]
                },
                {
                    "id": 32,
                    "letCode":"CQ01",
                    "label": "再次清洗 ",
                    "frequency": 2,
                    "children":[
                        {
                            "id":11111,
                            "label":"皮重1"
                        },
                        {
                            "id":11112,
                            "label":"皮重2"
                        },
                        {
                            "id":11113,
                            "label":"皮重3"
                        },
                       
                    ]
                },
                {
                    "id": 32,
                    "letCode":"CQ02",
                    "label": "沿途清扫确认 ",
                    "frequency": 2
                },
                {
                    "id": 32,
                    "letCode":"CQ02",
                    "label": "再次清洗 ",
                    "frequency": 2
                }
            ],
            testCols:[],//生产中数据存放数组
            eachBeforeRow:0,//生产前每条主数据的检验项目条数（用于合并单元批次号单元格计算）
            eachAfterRow:0,//生产后每条主数据的检验项目条数（合并单元格）
            rowCount: 0,//生产前的检验项目总条数
            afterRow:0,//生产后的检验项目总条数
            totalInCols: 0, //生产中所有列
            projectCols: 0, //项目项列数
            confirmCols: 0, //确认项列数

        },
        created: function () {
            var self = this;
            this.rowCount = this.beforeTableData.length;
            this.afterRow=this.afterTableData.length;
            // 1.计算出总生产中的总列数（通常最大）
            for (var i = 0; i < self.inTableData.length; i++) {
                self.totalInCols += self.inTableData[i].frequency;
            };
            // for(var i=0;i<self.totalInCols;i++){
            //     self.testCols.push(i);
            // }
            for(var i=0;i<this.inTableData.length;i++){
                for(var j=0;j<this.inTableData[i].children.length;j++){
                    self.testCols.push(this.inTableData[i].children[j].label);
                }
            }
            // 2.计算项目项列数
            if (this.totalInCols % 2 == 0) {
                this.projectCols = this.totalInCols / 2; //如果为偶数
            } else {
                this.projectCols = (this.totalInCols - 1) / 2 //如果为奇数
            }
            //计算确认项的列
            this.confirmCols = this.totalInCols - this.projectCols;
            console.info(this.totalInCols + "||" + this.projectCols + "||" + this.confirmCols);
        },
        methods:{
            getTestData:function(){
                var self=this;
                alert("111");
                this.inTableData[0].father='him';
                console.info(this.inTableData[0])

            }


        }

    })
</script>

</html>