
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowWorld</title>
</head>
<body>
    <div> 
        <h1>@ViewBag.id,你好，世界</h1>
        
    </div>
</body>
</html>
